body {
    background-color: #F5F5F5; /* Lighter gray background */
    font-family: Roboto, sans-serif; /* Modern font choice */
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    background-color: #96CEC1; /* Light blue button */
    color: #333333; /* Darker gray text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #77B9B0; /* Slightly darker hover color */
}

input {
    background-color: #F0F0F0;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.resultados-pesquisas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.descricao-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #DCDCDC; /* Light gray border */
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.item-resultado {
    border: 1px solid #DCDCDC; /* Light gray border */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    background-color: #FFFFFF; /* White background */
    color: #333333;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}